<%= form_for @review, :html => { :id => "review_form" }, :url => podcast_reviews_path(@podcast) do |f| %>

  <div id="column">
    <%= f.label "Create a Review" %>
    <%= f.text_area :body %>
  </div>

  <div id="column2">
    <div id="form_rating_input">
      <h2>rating:</h2>

      <select name="rating">
        <% 0.upto(10) do |n| %>
        <option value="<%= n %>"><%= n %></option>
        <% end %>
      </select>
    </div>

    <input type="hidden" name="user_id" value="<%= session[:user_id] %>">
    <input type="hidden" name="podcast_id" value="<%= params[:id] %>">

    <div id="submit">
      <%= f.submit %>
    </div>
  </div>
<% end %>
