<div id="latest">

  <h1><%= "#{@podcast.name}'s Profile Page"%></h1>

  <div id="latest_content">
    <p><%= @podcast.body %></p>
    <p> <%= @podcast.url %></p>
  </div>

  <img id="show_latest" src="/assets/fancy_sauce_large.jpg" width="400px" height="200px">

  <iframe id="show_player" src='http://fancysauceshow.podomatic.com/embed/frame/posting/2013-03-20T03_49_05-07_00?json_url=http%3A%2F%2Ffancysauceshow.podomatic.com%2Fentry%2Fembed_params%2F2013-03-20T03_49_05-07_00%3FautoPlay%3Dfalse%26facebook%3Dtrue%26height%3D85%26minicast%3Dfalse%26objembed%3D0%26width%3D440' height='85' width='440' frameborder='0' marginheight='0' marginwidth='0' scrolling='no' allowfullscreen></iframe>

  <div id="stats"><span>rating:  <%= @rating%> %</span>
    <ul>
      <li>genres: </li>
      <% @podcast.genres.each do |genre| %>
      <li><%=genre.name%></li>
      <%end%>
    </ul>
  </div>

</div>



<% if current_user? %>
  <%= render 'reviews/form' %>
<% else %>
  <div id="log-in-notice"><p><%= link_to "log in", '/login' %> to leave a review</p></div>
<% end %>
<ul id="reviews">
<% @reviews.each do |review| %>
  <li><%= review.body %> <span id="rating">rating: <%= review.rating.to_s%></span></li>
<% end %>
</ul>

