<h1><%= "#{@podcast.name}'s Profile Page"%></h1>

<ul>
  <li> <%= @podcast.body %></li>
  <li> <%= @podcast.image %></li>
  <li> <%= @podcast.url %></li>
  <li>rating:  <%= @rating%> %</li>
</ul>

<h3> Genres </h3>
<ul>
<% @podcast.genres.each do |genre| %>
  <li><%=genre.name%></li>
  <%end%>
</ul>
<% if current_user? %>
  <%= render 'reviews/form' %>
<% else %>
  <div><p><%= link_to "log in", '/login' %> to leave a review</p></div>
<% end %>
<ul>
<% @reviews.each do |review| %>
  <li><%= review.body %> rating: <%= review.rating.to_s%></li>
<% end %>
</ul>

