<!DOCTYPE html>
<html>
<head>
  <title>DigitalTomatoes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
<header>
  <h1><a id="logo" href="/">digital tomatoes</a></h1>

  <form id="genres" action="/genre" method="get">

    <select name="genre">
      <% @genres.each do |genre| %>
      <option value="<%= genre.name %>"><%= genre.name %></option>
      <% end %>
    </select>
    <input type="submit" value="go">
  </form>

  <form id="search" action="/search" method="post">
    <input type="text" name="search" id="search">
    <input type="submit" value="search">
  </form>

  <div id="account">
    <% if current_user? %>
      <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to "Login", '/login' %>
      <%= link_to "Join", '/join'%>
    <%end%>
  </div>
</header>

<%= yield %>
<footer class="footer">
  <ul>
    <li><%= link_to "Contact Us", '/contact' %></li>
  </ul>
  <ul>
    <li><%= link_to "About us", '/about' %></li>
  </ul>
  <ul>
    <li><a href="">copyright</a></li>
  </ul>
  <div id="sessions_inspect"><%= session.inspect %></div>
</footer>
</div>
</body>
</html>
