<!DOCTYPE html>
<html>
<head>
  <title>DigitalTomatoes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
<header>
  <h1><a href="/">digital tomatoes</a></h1>

  <form id="genres" action="/genre" method="get">
    <select name="genre">
      <% @genres.each do |genre| %>
      <option value="<%= genre.name %>"><%= genre.name %></option>
      <% end %>
    </select>
    <input type="submit" value="go">
  </form>

  <form id="search" action="/search" method="post">
    <input type="text" name="search" id="search">
    <input type="submit" value="search">
  </form>

  <div id="account">
    <a href="">login</a> <a href="">join</a>
  </div>
</header>

<%= yield %>

<footer>
  <ul>
    <li><%= link_to "Contact Us", '/contact' %></li>
  </ul>
  <ul>
    <li><%= link_to "About us", '/about' %></li>
  </ul>
  <ul>
    <li><a href="">copyright</a></li>
  </ul>
</footer>
</div>
</body>
</html>
